<div>
    <div style="text-align: center;">
        <h2>¿Cómo te llamas?</h2>
        <input [(ngModel)]="empleado.nombre" placeholder="Nombre" type="text">
        <h2>¿Edad?</h2>
        <input [(ngModel)]="empleado.apellidos" placeholder="Apellidos" type="text">
        <br /><br />
        <h3>Hola {{empleado.nombre}} {{empleado.apellidos}}, trabajas en {{empleado.puesto}} y ganas {{empleado.salario}} €</h3>
        <br /><br /><br />
        
        <router-outlet></router-outlet>
    </div>
</div>