<fieldset style="padding: 30px">
    <legend> {{accion}} </legend>
    <h2>Nombre y apellidos</h2>
    <input [(ngModel)]="empleado.nombre" placeholder="Nombre" type="text">
    <input [(ngModel)]="empleado.apellidos" placeholder="Apellidos" type="text">
    <h2>Puesto de trabajo</h2>
    <input [(ngModel)]="empleado.puesto" placeholder="Puesto" type="text">
    <h2>Salario</h2>
    <input [(ngModel)]="empleado.salario" placeholder="Salario" type="text">
    <br /><br />
    <input type="button" (click)="addEmpleado()" value="{{btnAccion}}" />
</fieldset>
